
.contenedorPrincipal{
    outline: black solid 1px;
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 90%;
    align-items: center;
    
}
.header{
    outline: black solid 1px;
    display: block;
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 90%;
    align-items: center;
    
}
.input{
    max-width: 100%;
    max-height: 10px;
    overflow-y: scroll;
}